html
  head
    title= title
  body
    h1= message
    p="your score:"
    p= point
    p= name
    form(method="get" action="/res/m")
            button(type="submit") it's man name
    form(method="get" action="/res/w")
            button(type="submit") it's woman name
